<div class="msg">
  правильный ответ :
  <h3>
    {{answer}}
  </h3>
</div>
<form action="/question" method="post" class="buttons">
  <input class="hide" type="text" name="gameId" value="{{gameId}}" />
  <button>
    OK!!!
  </button>
</form>
