<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
  <title>FLASH CARDS</title>
  <script defer src="/front.js"></script>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  {{{body}}}
</body>

</html>
