<form action="/answer" method="post" class='block'>
  <label>
    {{question.question}}
    <input type="text" name='userAnswer' placeholder="enter your answer">
    <input class='hide' type="text" name='questionsId' value='{{question._id}}'>
    <input class='hide' type="text" name='gameId' value='{{gameId}}'>
    <button>ответить</button>
  </label>
</form>
